header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: white;
    .logo-a {
        display: flex;
        padding-left: 3vw;
        justify-content: center;
        align-items: center;
        transition: 500ms linear all;
        cursor: pointer;
        span {
            opacity: 0;
            transition: 500ms linear all;
        }
        &:focus {
            border: 0;
            outline: transparent;
        }
    }
    .menu-a {
        padding-right: 3vw;
    }
    img {
        padding: 5px 15px 0 15px;
        width: 64px;
        height: 64px;
        text-align: center;
    }
}