<header>
    <div class="logo-a" (click)="opa()" routerLink="/">
        <img src="../../assets/logos/logocolor.svg" />
        <span id="titles">Hotel Inteligente para abejas</span>
    </div>
    <div class="space"></div>
    <div class="menu-a">
        <button routerLink="/" mat-button (click)="opa()">Home</button>
        <!-- <button mat-button>Manuales</button> -->
        <button routerLink="/hoteldata" (click)="opa()" mat-button>Datos de hoteles</button>
        <!-- <button routerLink="/references" mat-button>Biblioteca</button> -->


    </div>

</header>