footer {
    display: flex;
    background-color: #4e252d;
    width: 100%;
    height: 80px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.redes {
    display: flex;
    width: 20vw;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-right: 10vw;
}

a {
    color: white;
    text-decoration: none;
    &:hover {
        color: white;
        text-decoration: none;
    }
}