<footer>
    <div class="space"></div>
    <div class="redes">
        <a href="https://www.facebook.com/hoteldeabejas/" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <i class="fab fa-twitter"></i>
        <a href="https://www.instagram.com/hoteldeabejas/" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
</footer>