<div mat-dialog-title>
    <div style="flex: 1 1 auto;"></div>
    <i style="cursor: pointer;" mat-dialog-close class="fa fa-close" aria-hidden="true"></i>
</div>
<div>
    <iframe src="https://www.youtube.com/embed/hLdWj7gMqzw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>