// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$beeweb1-primary: mat-palette($mat-indigo);
$beeweb1-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$beeweb1-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$beeweb1-theme: mat-light-theme($beeweb1-primary, $beeweb1-accent, $beeweb1-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($beeweb1-theme);

/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.space {
    flex: 1 1 auto;
}

.mat-dialog-container {
    background: black !important;
    padding: 5px !important;
}