<section>
    <div class="sec1">
        <div class="table-med">
            <div class="normaltext">
                <h1>Hotel Inteligente para abejas nativas</h1>
                <h3>Un proyecto que a través del uso de tecnologias de fácil acceso nos permite el estudio de la vida silvestre generando datos abiertos para mayores alcances investigación y ciencia ciudadana. </h3>
                <a (click)="open()" class="degradado">
                    ver más
                </a>
                <div class="redes">
                    <div class="circler">
                        <a href="https://www.facebook.com/hoteldeabejas/" target="_blank"><i class="fab fa-facebook-f"></i></a>

                    </div>
                    <div class="circler">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="circler">
                        <a href="https://www.instagram.com/hoteldeabejas/" target="_blank"><i class="fab fa-instagram"></i></a>

                    </div>
                </div>
            </div>
            <img src="../../assets/abejalp1.png" alt="abejas" />


        </div>


    </div>
    <div class="sec2">
        <div class="table-click">
            <div class="touch" (click)="getSelect(0)">
                <div class="touch-1" *ngIf="!uso1"></div>
                <div class="encender" *ngIf="select1"></div>
                <img src="../../assets/hotelAsset.png" />
            </div>
            <div class="touch" (click)="getSelect(1)">
                <div class="touch-2" *ngIf="!uso2"></div>
                <div class="encender1" *ngIf="select2"></div>
                <img src="../../assets/tecnologia.png" />
            </div>
            <div class="touch" (click)="getSelect(2)">
                <div class="touch-3" *ngIf="!uso3"></div>
                <div class="encender2" *ngIf="select3"></div>
                <img src="../../assets/abejas1Asset.png" />
            </div>
        </div>
        <div class="texto-info2" *ngIf="info != null" [ngStyle]="{'background-color': getColor(info) }">
            <div class="que-es" *ngIf="info == 0">
                <h3>¿Qué es un hotel para abejas?</h3>
                <p>Es una estructura de construcción artificial que sirve como refugio para abejas y avispas nativas de anidación solitaria pertenecientes a diversos géneros. Se puede ubicar dentro de áreas urbanas y rurales en las cuales se han reducido
                    los sitios de anidación habituales debido principalmente a la deforestación, al cambio de uso de suelo y al uso de agroquímicos. </p>
                <p>Estos hoteles pueden ser ocupados por algunos tipos de abejas como: las abejas recolectoras de aceites (Centris spp.), abeja albañil (Osmia spp.), abejas cortadoras de hojas (Megachile spp.), abejas de lengua corta (Colletidae) y posiblemente
                    otras más que se desconoce aún que puedan hacer uso de los hoteles. </p>
            </div>
            <div class="que-lo-hace" *ngIf="info == 1">
                <h3>¿Qué lo hace inteligente?</h3>
                <p>El Hotel Inteligente para Abejas se denomina así porque aparte de proporcionar un refugio adecuado cuenta con una serie de sensores y aparatos electrónicos que generan constantemente información relacionada con las condiciones ambientales
                    de la zona, como temperatura, humedad y presión, Radiación Ultravioleta y contaminantes del aire, a la vez que monitorea la ocupación del hotel mediante una cámara fotográfica activada por un sensor de movimiento.</p>

            </div>
            <div class="cual-es" *ngIf="info == 2">
                <h3>¿Cuál es la importancia de un Hotel Inteligente para abejas?</h3>
                <p>El Hotel Inteligente para abejas constituye un proyecto dinámico que puede adaptarse a los objetivos específicos de quien desee construirlo. Aparte de proporcionar un refugio seguro para estos importantes polinizadores amenazados facilitando
                    su observación y el aprendizaje de su biología, fomenta la educación ambiental y la investigación formal o informal, generando conocimiento local.</p>
                <p>Al mismo tiempo la implementación de las funciones inteligentes del hotel aporta una base de datos de libre acceso a través de su página web sobre parámetros ambientales que pueden ser utilizados para su estudio en diferentes áreas. De
                    esta forma se unen la tecnología y el medio ambiente para la educación demostrando que es posible la interacción de estos factores para el servicio de la sociedad.</p>
            </div>

        </div>

    </div>
    <div class="sec3">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Construcción</mat-card-title>
                <mat-card-subtitle>¿Cómo construir un hotel para abejas?</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/construcion.jpg" alt="manual tecnico">
            <mat-card-actions class="btarget">
                <div></div>
                <a mat-button href="https://drive.google.com/drive/folders/1nonNBzWsKOz8v_bKI0oyRadwAWe5RaTJ?usp=sharing" target="_blank">Ver</a>
                <div></div>
            </mat-card-actions>

        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Electrónica</mat-card-title>
                <mat-card-subtitle>¿Cómo hacer el hotel inteligente?</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/tecnico.jpg" alt="Manual tecnico">
            <mat-card-actions class="btarget">
                <div></div>
                <a mat-button href="https://drive.google.com/drive/folders/1bWUiAeiisXFSj0TzwchqPJj_1s49WR_x?usp=sharing" target="_blank">Ver</a>
                <div></div>
            </mat-card-actions>

        </mat-card>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Educación</mat-card-title>
                <mat-card-subtitle>¿Cómo integrarlo como proyecto educativo?</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/educativo.jpg" alt="manual educativo">
            <mat-card-actions class="btarget">
                <div></div>
                <a mat-button href=" https://drive.google.com/drive/folders/1sYZ7x7xY_rjPhmu6t3Z2xgEwF8MbPZWY?usp=sharing" target="_blank">Ver</a>
                <div></div>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="sec4">
        <h2>Un proyecto <a href="https://twitter.com/InnovaCiudadana">#LabicCR</a></h2>
        <div class="labic">
            <div class="text">
                <p>Hotel de abejas es uno de los 10 proyectos seleccionados como parte del 6º Laboratorio de Innovación Ciudadana #LABICCR organizado por el proyecto Innovación Ciudadana de la Secretaría General Iberoamericana con el apoyo del Gobierno de
                    Costa Rica y la Universidad Earth. Se llevó acabo en Liberia en el estado de Guanacaste, Costa Rica, con el objetivo de generar beneficios sociales y medio ambientales.</p>
            </div>
            <div class="imglabic">
                <img src="../../assets/LABICCR.png" alt="LABIC Costa rica" />
            </div>



        </div>

    </div>
</section>