    section {
        width: 100%;
    }
    
    $padding-section: 50px 4vw;
    /*
    COLORES
*/
    
    $marron: #4e252d;
    $amarillo: #f4b04d;
    $salmon: #f47c6b;
    $aqua: #118e86;
    $menta: #a7d7bf;
    $rosa: #ba2974;
    $celeste: #3b61ac;
    $turquesa: #50be99;
    /*----------------*/
    
    .sec1,
    .sec2,
    .sec3,
    .sec4 {
        width: 100%;
        height: auto;
        display: flex;
        min-height: 90%;
    }
    
    .degradado {
        border-radius: 10px;
        padding: 15px 50px;
        background: #f85032;
        background: -moz-linear-gradient(-45deg, #f85032 0%, #f85032 19%, #f4b14d 82%, #f4b14d 100%);
        background: -webkit-gradient(left top, right bottom, color-stop(0%, #f85032), color-stop(19%, #f85032), color-stop(82%, #f4b14d), color-stop(100%, #f4b14d));
        background: -webkit-linear-gradient(-45deg, #f85032 0%, #f85032 19%, #f4b14d 82%, #f4b14d 100%);
        background: -o-linear-gradient(-45deg, #f85032 0%, #f85032 19%, #f4b14d 82%, #f4b14d 100%);
        background: -ms-linear-gradient(-45deg, #f85032 0%, #f85032 19%, #f4b14d 82%, #f4b14d 100%);
        background: linear-gradient(135deg, #f85032 0%, #f85032 19%, #f4b14d 82%, #f4b14d 100%);
    }
    
    .sec1 {
        width: 100%;
        background-color: white;
        background-image: url('../../assets/fondo1.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 0 0;
        flex-direction: column;
        .table-med {
            display: grid;
            width: 91vw;
            grid-template-columns: 40% 60%;
            margin-top: 80px;
            padding: $padding-section;
            justify-content: center;
            .normaltext {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                h1 {
                    font-size: 2.5em;
                    margin-bottom: 30px;
                    color: $marron;
                }
                h3 {
                    font-size: 1.2em;
                    margin-bottom: 25px;
                    font-weight: 400;
                }
                a {
                    max-width: 70px;
                    text-decoration: none;
                    color: white;
                    font-size: 1.01em;
                    text-align: center;
                    margin: 20px 0;
                    cursor: pointer;
                }
                .redes {
                    display: grid;
                    width: 80%;
                    grid-template-columns: 33% 33% 33%;
                    justify-items: center;
                    align-items: center;
                    .circler {
                        display: flex;
                        width: 64px;
                        height: 64px;
                        border-radius: 100%;
                        background-color: #4e252D;
                        align-items: center;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        justify-content: center;
                        cursor: pointer;
                        transition: 200ms linear all;
                        &:hover {
                            a,
                            i {
                                z-index: 1;
                            }
                            border-radius: initial;
                            height: 35px;
                            position: relative;
                            width: 64px;
                            background-color: #F85032;
                            &::before {
                                background: inherit;
                                content: '';
                                height: 100%;
                                position: absolute;
                                transform: rotate(120deg);
                                transform-origin: 50% 50%;
                                width: 100%;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                            }
                            &::after {
                                background: inherit;
                                content: '';
                                height: 100%;
                                position: absolute;
                                transform: rotate(60deg);
                                transform-origin: 50% 50%;
                                width: 100%;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                            }
                        }
                    }
                    i {
                        font-size: 30px;
                        color: white;
                    }
                    margin-top: 25px;
                }
            }
            img {
                width: 90%;
                height: auto;
            }
        }
    }
    
    .sec2 {
        transition-duration: 1s;
        transition-timing-function: linear;
        flex-wrap: wrap;
        min-height: 90%;
        background-color: $marron;
        background-image: url('../../assets/lp2background.png');
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-attachment: fixed;
        .table-click {
            width: 80%;
            display: grid;
            grid-template-columns: 33% 33% 33%;
            justify-items: center;
            align-items: center;
            margin: 20px 10%;
            .encender {
                box-shadow: 0 0 40px $aqua;
                width: 140px;
                height: 140px;
                border-radius: 100%;
                background-color: $aqua;
                animation-name: zoom1;
                animation-duration: 2s;
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                animation-fill-mode: forwards;
                position: absolute;
                opacity: 0.5;
            }
            .encender1 {
                box-shadow: 0 0 40px $amarillo;
                width: 140px;
                height: 140px;
                border-radius: 100%;
                background-color: $amarillo;
                animation-name: zoom1;
                animation-duration: 2s;
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                animation-fill-mode: forwards;
                position: absolute;
                opacity: 0.5;
            }
            .encender2 {
                box-shadow: 0 0 40px $salmon;
                width: 140px;
                height: 140px;
                border-radius: 100%;
                background-color: $salmon;
                animation-name: zoom1;
                animation-duration: 2s;
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                animation-fill-mode: forwards;
                position: absolute;
                opacity: 0.5;
            }
            .touch {
                cursor: pointer;
                width: 150px;
                height: 150px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                background-color: black;
                background-color: $amarillo;
                &:first-child {
                    background-color: $aqua;
                }
                &:last-child {
                    background-color: $salmon;
                }
                .touch-1,
                .touch-2,
                .touch-3 {
                    position: absolute;
                    width: 150px;
                    height: 150px;
                    border-radius: 100%;
                    animation-name: bum;
                    animation-duration: 2s;
                    animation-timing-function: ease-out;
                    animation-iteration-count: infinite;
                }
                .touch-1 {
                    border: 1px solid $turquesa;
                }
                .touch-2 {
                    border: 1px solid $amarillo;
                }
                .touch-3 {
                    border: 1px solid $salmon;
                }
                img {
                    width: 60%;
                    height: auto;
                    text-align: center;
                }
            }
        }
        .texto-info2 {
            display: flex;
            font-size: 0.9em;
            text-align: justify;
            color: white;
            padding: 20px 15px;
            width: 92vw;
            border-radius: 5px;
            margin: $padding-section;
            transition-duration: 0.5s;
            transition-timing-function: ease-out;
            transition-property: all;
            animation-name: opentext;
            animation-duration: 0.4s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in;
            align-content: center;
            justify-content: center;
            flex-direction: column;
            h3 {
                font-size: 1.5em;
                margin-bottom: 15px;
                font-weight: 600;
            }
            .que-es {
                display: flex;
                border-radius: 10px;
                padding: 15px;
                // background-color: #60b68b;
                align-content: center;
                justify-content: center;
                flex-direction: column;
            }
            .que-lo-hace {
                display: flex;
                border-radius: 10px;
                padding: 15px;
                // background-color: #c48323;
                align-content: center;
                justify-content: center;
                flex-direction: column;
            }
            .cual-es {
                display: flex;
                border-radius: 10px;
                padding: 15px;
                // background-color: #ce4e78;
                align-content: center;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
    
    .sec3 {
        background-color: $aqua;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        padding-bottom: 20px;
        .example-card {
            max-width: 30vw;
            min-width: 20vw;
            margin-left: 10px;
            margin-top: 10px;
            transition: 500ms linear;
            mat-card-title {
                color: $marron;
            }
            .mat-card-image {
                max-width: 380px;
            }
            &:hover {
                box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            }
        }
    }
    
    .sec4 {
        background-color: $menta;
        flex-direction: column;
        display: flex;
        background-attachment: fixed;
        flex-wrap: wrap;
        background-image: url('../../assets/footerAsset.png');
        background-size: 100% auto;
        background-position: bottom;
        align-content: center;
        justify-content: center;
        background-repeat: no-repeat;
        h2 {
            font-size: 1.7em;
            margin: 15px 4vw;
            color: $marron;
        }
        a {
            text-decoration: $celeste;
            color: $celeste;
        }
        .labic {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            width: 60%;
            margin: 15px 20%;
            justify-content: center;
            align-content: center;
            color: white;
            img {
                width: 250px;
            }
            .text {
                width: 40vw;
                font-size: 1.2em;
                text-align: justify;
            }
            .imglabic {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        }
    }
    
    .btarget {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-content: center;
        button {
            width: 150px;
        }
    }
    
    @keyframes opentext {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes bum {
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }
    
    @keyframes zoom1 {
        to {
            transform: scale(1.15);
        }
    }
    
    @media(max-width: 600px) {
        .sec1 {
            background-size: 135% 100%;
            .table-med {
                grid-template-columns: 60% 40%;
            }
            .normaltext {
                .redes {
                    width: 96% !important;
                }
            }
        }
        .sec2 {
            .table-click {
                width: 100%;
                margin: 20px 0;
                .encender {
                    width: 100px;
                    height: 100px;
                }
                .encender1 {
                    box-shadow: 0 0 40px $amarillo;
                    width: 100px;
                    height: 100px;
                }
                .encender2 {
                    width: 100px;
                    height: 100px;
                }
                .touch {
                    width: 100px;
                    height: 100px;
                    .touch-1,
                    .touch-2,
                    .touch-3 {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
        .sec3 {
            .example-card {
                max-width: 75vw;
            }
        }
        .sec4 {
            .labic {
                flex-wrap: nowrap;
                width: 80%;
                margin: 15px 10%;
                .text {
                    width: 100%;
                }
            }
        }
    }